

@{
    ViewData["Title"] = "Unknown shop";
    @model IEnumerable<Shop.Application.DTOs.ProductDTO>
}

<h2>Product List</h2>
<ul>
    @foreach (var product in Model)
    {
        <li>
            <strong>@product.Name</strong> - @product.Price.ToString("C")
        </li>
    }
</ul>