@{
    ViewData["Title"] = "Unknown shop";
    @model HomeViewModel
}
<ul>
    @if (Model.Products.Count() > 0)
    {
        @foreach (var product in Model.Products)
        {
            <li>
                <strong>@product.Name</strong> - @product.Price.ToString("C")
            </li>
        }
    }
</ul>

<h2>Product List</h2>