@{
    @model HomeViewModel
}

<header class="c-header js-header">
    <nav
        class="c-nav l-container l-flex u-justify-content-between u-align-items-center"
    >
        <a class="c-nav__logo l-flex  u-align-items-center" href="#">
            <img src="images/icons/logo.png" alt="Logo" />
        </a>
        <div class="c-nav__menu js-nav__menu">
            <ul class="c-nav__list l-flex u-align-items-center">
                @if(Model.CategoryTypes.Count() > 0){
                    @foreach (var categoryType in Model.CategoryTypes)
                    {
                        <li class="c-nav__item" link-for="submenu-@categoryType.Id">
                            <a class="c-nav__link has-submenu" href="javascript:void(0)">
                                @categoryType.Name</a>
                            <div class="c-nav__submenu" id="submenu-@categoryType.Id">
                                <div class="c-nav__submenu-wrapper l-flex">
                                    @if (Model.Categories.Count() > 0)
                                    {
                                        var categoriesByType = Model.Categories.Where(c => c.CategoryType.Name == categoryType.Name).ToList();
                                        @foreach (var category in categoriesByType)
                                        {
                                            <a href="#">@category.Name</a>
                                        }
                                    }
                                </div>
                            </div>
                        </li>
                    }
                }
                <li class="c-nav__item">
                    <a class="c-nav__link">Sobre</a>
                </li>
            </ul>

            <div class="c-nav__close js-nav__close">
                <img src="~/images/icons/close.png" alt="">
            </div>
        </div>

        <div class="c-nav__toggle js-nav__toggle">
            <img src="~/images/icons/menu.png"  alt="">
        </div>
    </nav>
</header>